<%include  header.ejs %>
    <div class=" admin-content">
        <div class="daohang">
        </div>
        <div class="admin-biaogelist">

            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 栏目名称</ul>

                <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">信息修改</a></dl>
                <dl>
                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"> 信息修改</button>
                </dl>
            </div>
            <div class="am-text-center">请输入员工编号
                <input type="text" class="am-input-sm" id="EmployeeNO">
                <button type="button" id="EmployeeNO_search" class="am-btn am-btn-success am-radius ">搜索</button>
            </div>
            <div class="fbneirong">
                <hr />
                <p class="Message"></p>
            </div>

            <%include  footer.ejs %>