<%include  header.ejs %>
    <div class=" admin-content">
        <div class="daohang">
        </div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 栏目名称</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">员工列表</a></dl>
                <dl>
                    <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"> 员工列表</button>
                </dl>
            </div>
            <form class="am-form am-g">
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                        <tr class="am-success">
                            <th width="163px" class="table-set">员工编号</th>
                            <th class="table-id">职位</th>
                            <th class="table-title">姓名</th>
                            <th class="table-title">地址</th>
                            <th class="table-date am-hide-sm-only">公司电话分机号</th>
                            <th width="163px" class="table-set">家用电话号码</th>
                            <th width="163px" class="table-set">Email地址</th>
                            <th width="163px" class="table-set">社保号码</th>
                            <th width="163px" class="table-set">出生日期</th>
                            <th width="163px" class="table-set">部门</th>
                            <th width="163px" class="table-set">性别</th>
                            <th width="163px" class="table-set">工资</th>
                            <th width="163px" class="table-set">开始时间</th>
                            <th width="130px" class="table-set">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- <tr>
                                    <td>15</td>
                                    <td><a href="#">Business management</a></td>
                                    <td>1402</td>
                                    <td>20</td>
                                    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-text-success am-round"><span class="am-icon-search"></span> </button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"><span class="am-icon-pencil-square-o"></span></button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-warning  am-round"><span class="am-icon-copy"></span></button>
                                                <span class="am-btn am-btn-default am-btn-xs am-text-danger am-round"><span class="am-icon-trash-o"></span></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr> -->
                    </tbody>
                </table>
                <hr />
                <p class="Message">注：.....</p>
            </form>
            <%include  footer.ejs %>