<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</head>

<body>
    <!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->
    </head>

    <body>
        <header class="am-topbar admin-header">
            <div class="am-topbar-brand"><img src="/static/assets/i/logo.jpg"></div>

            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">



                    <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
                </ul>
            </div>
        </header>

        <div class="am-cf admin-main">

            <div class="nav-navicon admin-main admin-sidebar">


                <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;">
                    <span id="EmployeeNO"><%= EmployeeNO %></span>
                    <span id="name"><%= userName %></span>
                    <span id="code"><%= code %></span>
                </div>
                <div class="sideMenu">
                    <% if (code> 50) { %>

                        <h3 class="am-icon-flag 1"><em></em> <a href="#">员工管理</a></h3>
                        <ul id="1">
                            <li><a href="/employee/list">员工列表</a></li>
                            <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="/employee/add">信息添加</a></a>
                                <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="/employee/update">信息修改</a></a>
                                </li>
                        </ul>
                        <h3 class="am-icon-cart-plus 2"><em></em> <a href="#"> 工资管理</a></h3>
                        <ul id="2">
                            <li><a href="/bonus/management">奖金类别管理</a></li>
                            <li><a href="/bonus/send">奖金发放</a></li>
                            <li><a href="/deductType/management">工资扣除类型</a></li>
                            <li><a href="/deduction/management">工资扣除</a></li>
                        </ul>
                        <h3 class="am-icon-users 3"><em></em> <a href="#">假期管理</a></h3>
                        <ul id="3">
                            <li><a href="/holiday/management">假期管理</a> </li>
                            <li><a href="/SickLeave/management">病假管理</a> </li>
                        </ul>
                        <h3 class="am-icon-plus 4"><em></em> <a href="#">支付管理</a></h3>
                        <ul id="4">
                            <li><a href="/PayType/management">支付类型</a> </li>
                            <li><a href="/PayDetails/management">支付中心</a> </li>
                        </ul>

                        <% } else { %>

                            <h3 class="am-icon-users 5"><em></em> <a href="#">个人信息</a></h3>
                            <ul id="5">
                                <li><a href="/user/listOne">个人信息</a></li>
                                <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="/user/pay">工资发放历史</a></a>
                            </ul>

                            <% } %>

                                <h2 class="am-icon-gears"><em></em> <span id="adminlogout">退出</span></h2>
                </div>
                <!-- sideMenu End -->
                <script type="text/javascript">
                    jQuery(".sideMenu").slide({
                        titCell: "h3", //鼠标触发对象
                        targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                        effect: "slideDown", //targetCell下拉效果
                        delayTime: 300, //效果时间
                        triggerTime: 150, //鼠标延迟触发时间（默认150）
                        defaultPlay: true, //默认是否执行效果（默认true）
                        returnDefault: true //鼠标从.sideMen移走后返回默认状态（默认false）
                    });
                </script>
            </div>