<%include  header.ejs %>
    <div class=" admin-content">
        <div class="daohang">
        </div>
        <div class="admin">
            <div class="admin-index clearfix">
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}" class="shujuone">
                    <dt class="qs"><i class="am-icon-users"></i></dt>
                    <dd class="huiyuan"></dd>
                    <dd class="f12">员工人数</dd>
                </dl>
            </div>
            <%include footer.ejs %>